*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   transition: 1s ease;
  
}


.bgcimage{
   background-size: contain;
   background-image: url(../brain.webp)
}

.container{
   width: 1200px;
   height: 900px;
   margin: 0px auto;
   background-color: rgba(13, 166, 193, 0.757);
   margin-top: 20px;
   margin-bottom: 20px;
   border: solid 2px black;
}







/* header section styles */

.header-section{
   position: relative;
   width:100%;
   height: 100px;
   
}

.header-section__logo{
   display: inline-block;
   width: 100px;
   height: 100px;
   padding-left: 20px;
   padding-top: 15px;
  margin-top: 20px;
   font-size: 45px;
   background-color: rgba(255, 255, 255, 0)
   
 
}

.header-section__info{
   position: absolute;
   display: inline-block;
   text-transform: uppercase;
   line-height: 45px;
   word-spacing: 6px;
   font-size: 30px;
   margin-top: 30px;
   color: rgb(9, 21, 187);
   text-shadow: 0px 0px 4px rgb(7, 136, 13);
   
}






/* nav section styles */
.nav-section{
   width: 100%;
   height: 80px;
   margin-top: 20px;
   border: solid rgba(255, 0, 0, 0) 1px;
}

.nav-section__container{
   margin-left: 130px;
}


.nav-section-list__item{
   width: 160px;
   display: inline-block;
   margin-right: 60px;
   list-style-type: none;
   padding: 30px;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 20px;
    
}

.nav-section-list__item:hover{
  color: rgb(0, 251, 42);
   
}


.nav-section-list__item>a{
   text-decoration: none;
   
}

.nav-section__button{
   display: inline-block;
}






/* about me section styles */


.aboutme-section{
   position: relative;
   margin-top: 40px;
   width: 100%;
   height:540px;
   border: rgba(255, 0, 0, 0) solid 1px;
}


.aboutme-section__logo{
   position: absolute;
   margin-top: 10px;
   margin-right: 10px;
}


.aboutme-section__info{
   border: rgba(255, 0, 0, 0) solid 2px;
   position: absolute;
   top: 5px;
   left: 5px;
   display: inline-block;
   width: 50%;
   height: 520px;
}

.aboutme-section__info-hi{
   display: inline-block;
   margin-left: 30px;
   margin-top: 40px;
   font-size: 30px;
   color: #5c5151;
   letter-spacing: 1px;
   text-shadow:  2px 2px 1px #000;
   letter-spacing:2px;
   text-transform: capitalize;
  
}



.aboutme-section__introduction{
   margin-left: 140px;
   margin-top: 260px;
   font-size:40px;
   letter-spacing: 1px;
   text-transform: capitalize;
   color: rgb(32, 44, 20);
   text-shadow: 3px  4px 2px #d1a2a2;
}

 


.aboutme-section__logo{
   position: absolute;
   top: 5px;
   right: 5px;
   box-shadow: -14px -12px 6px 0px rgb(34, 13, 13);
}


.aboutme-section__neyworks{
   margin-top: 40px;
   display: flex;
   justify-content:space-evenly ;
   width: 600px;
   height: 100px;
   border: rgba(255, 0, 0, 0) solid 1px;
  
}


.fa-brands{
   margin-top: 30px;
   margin-left: 40px;
   font-size: 40px;
   margin-right: 20px;
   cursor: pointer;
  
   
}














/* library section */

.library-section{
   width: 100%;
   height: 80px;
   margin-top: 20px;
   border: solid rgba(255, 0, 0, 0) 1px;
}


.library-section__action{
   text-decoration: none;
   font-size: 50px;
   margin-left: 120px;
   text-shadow: 1px 3px 5px #000;
}

.library-section__action:hover{
   color: rgb(207, 3, 112);
}